# FRONTEND

# auto generated
/BeatUploader/Builds
/BeatUploader/JuceLibraryCode
/BeatUploader/BeatUploader.jucer

# sketches
/demo/

# BACKEND

# enviroment
/env/
/BeatUploaderAPI/.env

# auto generated
**/__pycache__/**
*.sqlite3